@import "https://www.google.com/fonts/specimen/Roboto.html"
/*MAIN NAVIGATION*/
.gui {
background-color:rgba(255,255,255,.7);
font-family:Century Gothic, Helvetica, Sans-Serif;
font-weight:bold;
}

.gui-nav {
background-color:rgba(255,60,255,.4);
animation-name:gui-transition;
animation-timing-function:ease-in-out;
animation-iteration-count:1;
}

/*SIDEBAR*/
.sidebar {
  position:relative;
  background-color:rgba(255,255,255,.5);
  top:15px;
  left:200px;
}
